# Configurações LDAP
LDAP_URL=ldap://192.168.10.10:389
LDAP_BASE_DN=dc=desenvolvemt,dc=local
LDAP_DOMAIN=desenvolvemt.local

# Configurações JWT
JWT_SECRET=secret

# Configurações PostgreSQL
DB_HOST=192.168.10.17
DB_PORT=5432
DB_NAME=manuais
DB_USER=postgres
DB_PASSWORD=12345678
